<div id="<%= dom_id(quest) %>" class="flex flex-row items-center justify-between p-4 bg-gray-800 rounded-lg shadow-sm hover:shadow-md transition-shadow w-full sm:w-3/4 mx-auto" data-controller="hello">
  <div class="flex items-center gap-3 flex-1 min-w-0">
    <%= form_with url: toggle_status_quest_path(quest), method: :patch, local: false do |f| %>
      <%= f.check_box :status, checked: quest.status,
      id: "quest_status_#{quest.id}",
      class: "w-5 h-5 text-blue-500 bg-gray-700 border-gray-600 rounded focus:ring-blue-400",
      data: { hello_target: "checkbox", action: "change->hello#toggle" } %>
    <% end %>
    <p class="text-lg font-medium break-words whitespace-normal flex-1 min-w-0 <%= 'line-through text-gray-400' if quest.status %>"
       data-hello-target="text">
      <%= quest.activity %>
    </p>
  </div>
  <div class="flex items-center justify-center ml-3 flex-shrink-0">
    <%= button_to quest, method: :delete, id: "destroy_quest_#{quest.id}",class: "w-10 h-10 flex items-center justify-center rounded-md bg-red-600 hover:bg-red-500 text-white shadow-sm transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5-4h4m-4 0a1 1 0 00-1 1v1h6V4a1 1 0 00-1-1m-4 0h4" />
      </svg>
    <% end %>
  </div>
</div>
